*{
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    text-align: center;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

span{
    color: aliceblue;
    line-height: 25px;
    font-size: 25px;
    cursor: pointer;
}

header a{
    text-decoration: none;
    color: white;
    padding: 12px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    margin: auto 0 auto;
    /* line-height: 50px; */
}

header div{
    /* padding: auto; */
    width: 150px;
    margin: auto 20px auto ;
}


button{
    border-radius: 20%;
    /* border: none; */
    padding: 3%;
    margin-left: 10px;
}

aside{
    height: 80vh; 
    float: left;
    width: 200px;
    background-color: blueviolet;
   
}

#sidenav{
    display: none;
}

aside nav a{
    display: block;
    margin: 20px;
    text-decoration: none;
    color: blanchedalmond;
}

article{
    height: 80vh;
    background-color: red;
    text-align: center;
 
}



footer{
    text-align: center;
    background-color: black;
    color: aliceblue;
    height: 10vh;
}

article .section1{
    padding-top: 20px;
}

article section p{
    padding-right: 3px;
    padding-left: 3px;
    margin-left: 3px;
    color: rgb(248, 205, 174);
}

